<!DOCTYPE html>

<html lang="en" >
<head>
    <meta charset="utf-8" />
    <title>sahu speles </title>

    <link 
        rel="stylesheet" 
        href="/static/styles/tabulas.css"
    >

    <script src="/static/styles/funk.js"></script>
    <script>
        var secib =
        [{"wp5": "e4", "bp3" : "c5"}, {"wp3": 'c4', "bz1": "c6"},{"wp1":"a3", "bp5" : "e5"},{"wp4":"d3","bl2":"e7"},{"wz2":"f3", "bz2": "f6"},
         {"wd":"b3", "bk":"g8","bt2":"f8"}, {"wd": "c3", "bp4": "d6"}, {"wl1": "g5", "bp8": "h6"},{"wl1": "f6", "bl2":"f6"},{"wp7":"g3", "bz1": "d4"},
          {"wz2":"d4", "bp3":"d4"},{"wd":"b3", "bp2":"b6"},{"wl2": "g2", "bl1": "e6"}];
        //console.log(secib);
       var smg =  document.getElementById("mesg");
       console.log(smg);
       //=JSON.stringify(secib);
    </script>

</head>
<body >
    <div class=" topright unblurr" id="krusts"  onclick="slept()" >&#10006</div>
   <div class="mytabs">
    <input type="radio" id="tabsak" name="mytabs" checked="checked">
    <label for="tabsak" id="sakumlapa1" onclick="sakumla()">Sākumlapa</label>
    <div class="tab">
        <p id="mesg" >text to display</p> 
        <div >

        </div>
    </div>  
    
    <input type="radio" id="tabtabula" name="mytabs">
    <label for="tabtabula" id="tabula1" onclick="tabul()">Tabula</label>
    <div class="tab">
        <!-- saha laukuma sakums  -->
        <div class="wrapper hiddendiv unblurr sticky split right" id="sahalau" >
            <div class="top unblurr">
              <!-- <div class="wrapper-inner">
                <div class="box-inner">A</div>
                <div class="box-inner">B</div>
                <div class="box-inner">C</div>
                <div class="box-inner">D</div>
                <div class="box-inner">E</div>
                <div class="box-inner">F</div>
                <div class="box-inner">G</div>
                <div class="box-inner">H</div>
              </div> -->
            </div>
            <div class="box unblurr" id="A8">  <img src="static/images/rooda.svg" alt="rook dark" class="figura"> </div>
            <div class="box unblurr" id="B8"><img src="static/images/knida.svg" alt="knight dark" class="figura"></div>
            <div class="box unblurr" id="C8"><img src="static/images/bisda.svg" alt="bishop dark" class="figura"></div>
            <div class="box unblurr" id="D8"><img src="static/images/queda.svg" alt="queen dark" class="figura"></div>
            <div class="box unblurr" id="E8"><img src="static/images/kinda.svg" alt="king dark" class="figura"></div>
            <div class="box unblurr" id="F8"><img src="static/images/bisda.svg" alt="bishop dark" class="figura"></div>
            <div class="box unblurr" id="G8"><img src="static/images/knida.svg" alt="knight dark" class="figura"></div>
            <div class="box unblurr" id="H8"><img src="static/images/rooda.svg" alt="rook dark" class="figura"></div>
          
            <div class="box unblurr" id="A7"> <img src="static/images/pawda.svg" alt="pawn dark" class="figura" id="PDA"> </div>
            <div class="box unblurr" id="B7"> <img src="static/images/pawda.svg" alt="pawn dark" class="figura"> </div>
            <div class="box unblurr" id="C7"> <img src="static/images/pawda.svg" alt="pawn dark" class="figura"> </div>
            <div class="box unblurr" id="D7"> <img src="static/images/pawda.svg" alt="pawn dark" class="figura"> </div>
            <div class="box unblurr" id="E7"> <img src="static/images/pawda.svg" alt="pawn dark" class="figura"> </div>
            <div class="box unblurr" id="F7"> <img src="static/images/pawda.svg" alt="pawn dark" class="figura"> </div>
            <div class="box unblurr" id="G7"> <img src="static/images/pawda.svg" alt="pawn dark" class="figura"> </div>
            <div class="box unblurr" id="H7"> <img src="static/images/pawda.svg" alt="pawn dark" class="figura"> </div>
            
            <div class="box unblurr" id="A6" onclick="move(this)"></div>
            <div class="box unblurr" id="B6"></div>
            <div class="box unblurr" id="C6"></div>
            <div class="box unblurr" id="D6"></div>
            <div class="box unblurr" id="E6"></div>
            <div class="box unblurr" id="F6"></div>
            <div class="box unblurr" id="G6"></div>
            <div class="box unblurr" id="H6"></div>
                            
            <div class="box unblurr" id="A5"></div>
            <div class="box unblurr" id="B5"></div>
            <div class="box unblurr" id="C5"></div>
            <div class="box unblurr" id="D5"></div>
            <div class="box unblurr" id="E5"></div>
            <div class="box unblurr" id="F5"></div>
            <div class="box unblurr" id="G5"></div>
            <div class="box unblurr" id="H5"></div>
                            
            <div class="box unblurr" id="A4"></div>
            <div class="box unblurr" id="B4"></div>
            <div class="box unblurr" id="C4"></div>
            <div class="box unblurr" id="D4"></div>
            <div class="box unblurr" id="E4"></div>
            <div class="box unblurr" id="F4"></div>
            <div class="box unblurr" id="G4"></div>
            <div class="box unblurr" id="H4"></div>
                            
            <div class="box unblurr" id="A3"></div>
            <div class="box unblurr" id="B3"></div>
            <div class="box unblurr" id="C3"></div>
            <div class="box unblurr" id="D3"></div>
            <div class="box unblurr" id="E3"></div>
            <div class="box unblurr" id="F3"></div>
            <div class="box unblurr" id="G3"></div>
            <div class="box unblurr" id="H3"></div>
        
            <div class="box unblurr" id="A2"> <img src="static/images/pawli.svg" alt="pawn light" class="figura"> </div>
            <div class="box unblurr" id="B2"> <img src="static/images/pawli.svg" alt="pawn light" class="figura"> </div>
            <div class="box unblurr" id="C2"> <img src="static/images/pawli.svg" alt="pawn light" class="figura"> </div>
            <div class="box unblurr" id="D2"> <img src="static/images/pawli.svg" alt="pawn light" class="figura"> </div>
            <div class="box unblurr" id="E2"> <img src="static/images/pawli.svg" alt="pawn light" class="figura"> </div>
            <div class="box unblurr" id="F2"> <img src="static/images/pawli.svg" alt="pawn light" class="figura"> </div>
            <div class="box unblurr" id="G2"> <img src="static/images/pawli.svg" alt="pawn light" class="figura"> </div>
            <div class="box unblurr" id="H2"> <img src="static/images/pawli.svg" alt="pawn light" class="figura"> </div>
                           
            <div class="box unblurr" id="A1"> <img src="static/images/rooli.svg" alt="rook light" class="figura"> </div>
            <div class="box unblurr" id="B1"> <img src="static/images/knili.svg" alt="knight light" class="figura"> </div>
            <div class="box unblurr" id="C1"> <img src="static/images/bisli.svg" alt="bishop light" class="figura"> </div>
            <div class="box unblurr" id="D1"> <img src="static/images/queli.svg" alt="queen light" class="figura"> </div>
            <div class="box unblurr" id="E1"> <img src="static/images/kinli.svg" alt="king light" class="figura"> </div>
            <div class="box unblurr" id="F1"> <img src="static/images/bisli.svg" alt="bishop light" class="figura"> </div>
            <div class="box unblurr" id="G1"> <img src="static/images/knili.svg" alt="knight light" class="figura"> </div>
            <div class="box unblurr" id="H1"> <img src="static/images/rooli.svg" alt="rook light" class="figura"> </div>
            <div class="bottom unblurr">
              <div class="wrapper-inner unblurr">
                <div class="box-inner unblurr">A</div>
                <div class="box-inner unblurr">B</div>
                <div class="box-inner unblurr">C</div>
                <div class="box-inner unblurr">D</div>
                <div class="box-inner unblurr">E</div>
                <div class="box-inner unblurr">F</div>
                <div class="box-inner unblurr">G</div>
                <div class="box-inner unblurr">H</div>
              </div>
            </div>
        </div>
        <!-- saha laukuma beigas -->
    <table class="table table-striped split left" >
        <tr>
            {%for headers in findSpele[0].keys()%}
            <th>
                {{headers}}
            </th>
            {%endfor%}
        </tr>
        {% for dic in findSpele %}
            <tr>
                <td>
                    {{dic.spele_id}}
                </td>
                <td>
                    {{dic.pilseta_valsts}}
                </td>
                <td>
                    {{dic.baltais_speletajs}}
                </td>
                <td>
                    {{dic.melnais_speletajs}}
                </td>
                <td>
                    {{dic.gajieni}}
                </td>
                <td id="atttab">
                    <div class ="zoom-without-container pointer" >
                        <img onclick="parad()" id= "{{dic.spele_id}}" src="{{dic.foto_fin}}" width="200%" >
                    </div>
                </td>
                <td>
                    {{dic.iznakums}}
                </td>
                <td>
                    {{dic.uzvaretajs}}
                </td>
                <td>
                    {{dic.rezultats}}
                </td>
            </tr>

        {%endfor%}
    </table>
</div>
</div> 

</body>

</html>